*.svn
*.idea
*.user
*.docx
*.vs
*.vsmdi
*.cmd
*.testsettings
*.old
*.suo
*.userprefs

node_modules
bin
obj
packages
_temp
Unused
TestResults
_ReSharper*

GetFtpCredential.ps1

breeze-*.zip
breeze*.nupkg

#Don't commit databases (except manually in some cases)
*.mdf
*.ldf
*.sdf